@font-face {
    font-family: "gilroy";
    src: url(../fonts/Gilroy-Regular.ttf) format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: "gilroy";
    src: url(../fonts/Gilroy-Medium.ttf) format("TrueType");
    font-weight: 500;
}

@font-face {
    font-family: "gilroy";
    src: url(../fonts/Gilroy-SemiBold.ttf) format("TrueType");
    font-weight: 600;
}

@font-face {
    font-family: "gilroy";
    src: url(../fonts/Gilroy-Bold.ttf) format("TrueType");
    font-weight: 700;
}

@font-face {
    font-family: "gilroy";
    src: url(../fonts/Gilroy-Black.ttf) format("TrueType");
    font-weight: 800;
}


@font-face {
    font-family: "timesroman";
    src: url(../fonts/timesregular.tff) format("TrueType");
    font-weight: 400;
}
@font-face {
    font-family: "timesroman";
    src: url(../fonts/timesbold.tff) format("TrueType");
    font-weight: 700;
}