@use "../abstracts/colors" as color;
.text-end {
    text-align: end;
}
.text-center {
    text-align: center;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}



.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}



.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}

.pt-30{
    padding-top: 30px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}



.pb-10{
    padding-bottom: 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-30{
    padding-bottom: 30px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.c-primary{
    color: color.$primary;
}
.bg-light{
    background-color: color.$light;
}
.bg-grey{
    background-color: color.$grey;
}
.bg-secondary{
    background-color: color.$secondary;
}
.c-primary{
    color: color.$primary;
}
.c-grey{
    color: color.$grey;
}
.times-roman{
    font-family: "timesroman";
}
.overflow-hidden{
    overflow: hidden;
}
.z-index-3{
    z-index: 3;
}
.font-700{
    font-weight: 700;
}