$sizes: (
    xxs: 5px,
    xs: 15px,
    s: 20px,
    m: 25px,
    lg: 30px,
    xl: 35px,
    xxl: 40px,
    xxxl: 60px,
    xxxxl: 100px,
);

$xxs:5px;
$xs:15px;
$s:20px;
$m:25px;
$lg:30px;
$xl:35px;
$xxl:40px;
$xxxl:60px;
$xxxxl:100px;
