@use "../abstracts/breakpoints" as b;
@use "../abstracts/colors" as color;
@use "../abstracts/variables" as v;

// İsteğe göre eklenebilen cssler
.swiper-pagination {
    position: relative;
    margin-top: v.$xxxl;
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        opacity: 1;
        background-color: color.$ghost;
        &.swiper-pagination-bullet-active {
            background-color: color.$primary;
        }
    }
}

.navigation {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .mys-button-next,
    .mys-button-prev,
    .klab-button-next,
    .klab-button-prev,
    .fuar-button-next,
    .fuar-button-prev {
        border: color.$grey solid 2px;
        margin: 0 8px;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: color.$grey;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: color.$grey;
            color: color.$ghost;
        }
    }
}
// İsteğe göre eklenebilen cssler

.mySwiper,
.kaynakcaSwiper {
    .swiper-slide {
        &.shadow {
            padding: 0 10px;
        }
        svg {
            fill: color.$ghost;
            transition: 0.5s;
        }
    }
}
.kaynakcaSwiper {
    margin-right: -38%;
    margin-left: -38%;

    @include b.lg {
        margin-right: 0px;
        margin-left: 0px;
    }
}
.klabSwiper {
    margin-right: -50%;
    img {
        transition: 0.5s;
    }
    @include b.lg {
        margin-right: 0;
    }
    .swiper-slide:not(.swiper-slide-active) {
        img {
            opacity: 0.4;
        }
    }
}
.fuarswiper {
    margin-right: -50%;
    @include b.sm {
        margin-right: 0;
    }
    img {
        transition: 0.5s;
    }
    .swiper-slide-duplicate-prev {
        img {
            opacity: 0.3;
        }
    }
}
.hover-shadow {
    .swiper-card:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-top: -30px;
        @include b.lg {
            margin-top: 0;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
            
        }
        svg {
            fill: color.$grey;
        }
    }
    padding-top: 40px;
}

.swiper-card {
    // Bg istedigimizde kullanılır.
    @media (max-width: 420px) {
        width: 100%;
    }
    &.bg {
        background-color: #fff;
    }
    transition: 0.5s;
    width: 360px;
    border-radius: 40px;
    position: relative;
    @include b.lg {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // Producs swiper css eklentisi
    &.products {
        padding: 10px 10px 50px 10px;
    }

    .content {
        // Producs swiper css eklentisi
        &.products {
            padding-left: 14px;
        }

        h5 {
            color: color.$secondary;
            font-weight: 700;
            font-size: 26px;
            margin-top: v.$xxl;
        }

        h6 {
            color: color.$grey;
            font-weight: 700;
            font-size: 21px;
            margin-top: v.$s;
        }
        p {
            color: color.$grey;
            font-weight: 600;
            font-size: 16px;
            margin-top: v.$s;
            line-height: 26px;
        }
        a {
            color: color.$primary;
            display: block;
            font-weight: 700;
            font-size: 16px;
            margin-top: v.$m;
        }
    }

    // Referans kısım css eklentisi
    .capsule {
        background-color: color.$grey;
        width: 165px;
        height: 134px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        position: absolute;
        right: 0;
        bottom: 0;
        fill: color.$grey;
    }
}

.user-card {
    display: flex;
    align-items: center;
    margin-top: 40px;
    .content {
        margin-left: 15px;
        span {
            font-family: "gilroy";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            margin-bottom: 12px;
        }
        h5 {
            font-family: "timesroman";
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            color: color.$secondary;
        }
        .link {
            display: flex;
            align-items: center;
            color: color.$primary;
            font-family: "gilroy";
            font-size: 14px;
            font-weight: 700;

            span {
                color: color.$primary;
                margin: 0;
                font-size: 16px;
            }
            a {
                position: relative;
                margin-left: 6px;
                display: inline-block;
                &.underline {
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -6px;
                        height: 1px;
                        border-radius: 4px;
                        background-color: color.$primary;
                    }
                }
            }
        }
    }
}

.contact-card {
    padding: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 40, 86, 0.5);
    border-radius: 60px;
    margin-top: -220px;
    @include b.sm {
        margin-top: -130px;
        padding: 30px;
    }
    h3 {
        margin-bottom: 22px;
    }
    .form-group {
        position: relative;
        svg {
            position: absolute;
            right: 1px;
            bottom: 25px;
            fill: color.$ghost;
            &.textarea {
                bottom: 28px;
            }
        }
    }
    textarea {
        height: 180px;
        resize: none;
    }
    input,
    textarea,
    .file {
        border-radius: 18px;
        border: solid 2px color.$ghost;
        width: 100%;
        margin-bottom: 25px;
        padding: 12px 22px;
        font-weight: 700;
        color: color.$secondary;
        &::placeholder {
            color: color.$ghost;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .file {
        border: dotted 2px color.$ghost;
        color: color.$ghost;
    }
    .file-svg {
        bottom: 0 !important;
    }
    button {
        margin-top: 40px;
        cursor: pointer;
    }
}
.contact-details {
    h4 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 52px;
    }
}

.map-card {
    background-color: #fff;
    border-radius: 60px;
    .map-container {
        transition: 1s;
        overflow: hidden;
        max-height: 300px;
    }
    h3 {
        padding: 50px 0 50px 120px;
        @include b.sm {
            padding: 30px 0 30px 60px;
        }
    }
    iframe {
        border-radius: 60px;
        width: 100%;
        margin-bottom: -3px;
        height: 440px;
    }
}

.medical-content-card {
    background-color: #fff;
    border-radius: 60px;

    h3 {
        padding: 50px 0 50px 120px;
        @include b.lg {
            padding: 50px;
        }
    }
    .content {
        border-radius: 60px;
        background-color: color.$grey;
        padding: 50px 50px 50px 120px;
        @include b.lg {
            padding: 50px;
        }
        @include b.sm {
            padding: 40px;
        }
        ol {
            list-style: none;
            @include b.lg {
                display: flex;
                flex-wrap: wrap;
            }
            @include b.sm {
                width: 100%;
                flex-direction: column;
                flex-wrap: nowrap;
            }
            li {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                @include b.lg {
                    width: 50%;
                }
                @include b.sm {
                    width: 100%;
                }
                h5 {
                    color: color.$light;
                    margin-left: 16px;
                    @include b.sm {
                        font-size: 18px;
                    }
                }
                span {
                    font-size: 24px;
                    @include b.sm {
                        font-size: 18px;
                    }
                    .path1 {
                        &::before {
                            color: color.$primary-100;
                        }
                    }
                    .path2 {
                        &::before {
                            color: color.$light;
                        }
                    }
                }
            }
        }
    }
}
.medicalGaleriSwiper {
    .swiper-slide {
        transition: 0.5s;
        img {
            transition: 0.5s;
        }
        @include b.md {
            text-align: center;
        }
    }
    .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.8);
    }
    .swiper-slide:not(.swiper-slide-next, .swiper-slide-active, .swiper-slide-prev) {
        img {
            opacity: 0.6;
        }
    }
}
