@use "../abstracts/breakpoints" as b;
@use "../abstracts/colors" as color;
@use "../abstracts/fonts" as fonts;
@use "../abstracts/variables" as size;

.header-top {
    position: relative;
    z-index: 1;
    @include b.lg {
        display: none;
    }
    .row {
        padding: 12px 0;

        p {
            font-weight: 700;
            margin-left: 6px;
            position: relative;
            &.underline {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -6px;

                    height: 4px;
                    border-radius: 4px;
                }
            }
            span {
                font-size: 11px;
            }
            &.ml {
                margin-left: size.$s;
            }
        }
    }
    &.dark {
        span {
            color: color.$grey;
        }
        p {
            color: color.$grey;
            &.underline {
                &::after {
                    background-color: color.$primary;
                }
            }
        }
    }
    &.light {
       
        span {
            color: color.$light;
        }
        p {
            color: color.$light;
            &.underline {
                &::after {
                    background-color: color.$primary;
                }
            }
        }
    }
}

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: transform 0.6s;
    @include b.lg {
        margin-left: 25px;
        margin-right: 25px;
    }

    .header-content {
        width: 100%;
        max-width: 1500px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    .header-body {
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    &.scrolled {
        transform: translateY(-20px);
    }
    nav {
        ol {
            display: flex;
            justify-content: center;
            list-style-type: none;
            font-weight: 700;
            li {
                a {
                    position: relative;
                    padding: 0 20px;
                    transition: 0.5s;

                    span {
                        font-size: 12px;
                        transition: 0.5s;
                        position: absolute;
                        right: 0;
                        top: 20%;
                        @include b.lg {
                            transform: rotate(270deg);
                            top: 30%;
                        }
                    }
                }
                &.dropdown {
                    position: relative;
                    &:hover {
                        & > a {
                            color: color.$primary !important;
                        }
                        span {
                            color: color.$primary;
                            transform: rotate(180deg);
                            @include b.lg {
                                transform: rotate(270deg);
                                top: 30%;
                            }
                        }
                        .dropdown-container{
                            max-height: 1000px;
                        }
                        .dropdown-content {
                            opacity: 1;
                            visibility: visible;
                            overflow-y: auto;
                        }
                    }
                    .dropdown-container {
                        @include b.lg {
                            overflow: hidden;
                            max-height: 0;
                            transition: 1s;
                        }
                    }
                    .dropdown-content {
                        position: absolute;
                        background-color: color.$light;
                        min-width: 170px;
                        min-height: 185px;
                        border-radius: 30px;
                        padding: 25px 25px 25px 25px;
                        display: block;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
                        top: 30px;
                        right: -40px;
                        transition: 0.7s;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 99;
                        @include b.lg {
                            position: static;
                            opacity: 1;
                            visibility: visible;
                            margin: 20px 20px 10px 80px;
                            min-height: 150px;
                        }
                        a {
                            display: block;
                            margin: 0 0 10px 0;
                            padding: 0;
                            color: color.$secondary;
                            &.active {
                                color: color.$primary;
                            }
                        }
                        .line {
                            background-color: color.$primary;
                            height: 8px;
                            border-radius: 4px;
                            width: 60%;
                            position: absolute;
                            bottom: 15px;
                            left: 20%;
                            @include b.lg {
                                position: static;
                                margin: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-mail {
        position: relative;
        font-family: "gilroy";
        border-radius: 18px;
        padding: 6px 50px;
        min-width: 160px;
        font-weight: 700;
        transition: 0.5s;
        display: inline-block;
        svg {
            position: absolute;
            bottom: -3px;
            right: -3px;
            transition: 0.5s;
        }
        @include b.xl {
            padding: 6px 40px;
        }
    }

    &.dark {
        .header-content {
            background-color: color.$secondary;
            nav {
                ol li a {
                    color: color.$light;
                    &:hover {
                        color: color.$primary;
                    }
                }
            }
            .btn-mail {
                color: color.$light;
                border: 3px solid color.$light;
                svg {
                    fill: color.$light;
                }
                &:hover {
                    background-color: color.$light;
                    color: color.$grey;
                    svg {
                        fill: color.$grey;
                    }
                }
            }
            .dropdown-content {
                a {
                    color: color.$secondary;
                }
            }
        }
        span {
            margin-left: 10px;
            color: color.$light;
            @include b.lg {
                color: color.$ghost;
            }
        }
    }
    &.light {
        .header-content {
            background-color: color.$light;
            box-shadow: 0px 4px 6px rgba(0, 40, 86, 0.5);
            nav {
                ol li a {
                    color: color.$secondary;
                    &:hover {
                        color: color.$primary;
                    }
                }
            }
            .btn-mail {
                color: color.$grey;
                border: 3px solid color.$grey;
                svg {
                    fill: color.$grey;
                }
                &:hover {
                    background-color: color.$grey;
                    color: color.$light;
                    svg {
                        fill: color.$light;
                    }
                }
            }
        }
        span {
            margin-left: 10px;
            color: color.$ghost;
        }
    }

    @include b.lg {
        &.mobile {
            margin-top: 12px;
            .container {
                padding: 0;
            }
            .row {
                position: relative;
                padding: 0;
                .nav-side {
                    opacity: 0;
                    transform: translateY(-100%);
                    transition: 0.7s;
                    position: absolute;
                    background-color: color.$light;
                    top: 0px;
                    padding-top: 80px;
                    z-index: -1;
                    border-radius: 20px;
                    @include b.lg{
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    }
                    nav {
                        ol {
                            display: block;
                            li {
                                margin: 10px 0;
                                a {
                                    color: color.$secondary;
                                }
                            }
                        }
                        .line {
                            height: 8px;
                            width: 40%;
                            background-color: color.$primary;
                            border-radius: 4px;
                            margin: 15px 0;
                        }
                        .underline {
                            position: absolute;
                            right: 25px;
                            font-weight: 700;
                            span {
                                font-size: 12px;
                            }
                            &.underline {
                                margin-left: 6px;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: -6px;
                                    background-color: color.$primary;
                                    height: 4px;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
            .navbar-toggle {
                color: color.$primary;
                display: flex;
                align-items: center;
                justify-content: end;
                font-weight: 700;
                margin-right: 15px;
            }
            img {
                margin-left: 15px;
            }
            .btn-mail {
                display: none;
            }
        }
        &.mobile-active {
            .row {
                .nav-side {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}
